/* базовые настройки  страницы*/


/*   звездочка означает обращение ко всем элементам сайта */

* {
    margin: 0;
    padding: 0;
}

body,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}


/* конец базовых настроек страницы */


/* Унивесальные стили */

.left,
.ul_li>li {
    float: left;
    /* float-- это обтекание. То есть выравнивание
	выравнивание куда: куда
	выравнивание: в левую сторону и правую сторону */
}

.right {
    float: right;
}

.ul_li,
ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.ul_li li {
    padding: 10px 15px;
}

.b-r li {
    border-right: 1px solid #d4d2d2;
}

.b-r li:last-child {
    border-right: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.grey {
    color: grey;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid;
    width: 100%;
    top: 42px;
    left: 0;
    cursor: pointer;
    z-index: 2;
}

.hover_menu li:hover .dropdown_menu {
    display: block;
}

.block_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dnone {
    display: none;
}

.bg_orange {
    background: orange;
}

.bg_green {
    background: green;
}

.bg_hacky {
    background-color: #abcd02;
}


/* Конец универсальных стилей */


/* Стили для страницы */

.verhnee_menu {
    background: #f7f7f7;
    display: inline-block;
    width: 100%;
}

.verhnee_menu ul li {
    float: left;
}

.verhnee_menu .ul_li i {
    margin-right: 10px;
}

.icon_msg {
    position: relative;
}

.msg {
    position: absolute;
    top: -7px;
    right: 8px;
    background: red;
    width: 13px;
    height: 13px;
    text-align: center;
    color: white;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 13px;
}

.verhnee_menu a {
    color: #4c4b6c;
    font-family: roboto;
    font-size: 15px;
}

.fa-chevron-down {
    padding: 5px;
    width: 1px;
    height: 1px;
}

.b-r i:hover {
    color: red;
    cursor: pointer;
}

.grey-bold {
    font-weight: bold;
}

#underline {
    text-decoration: underline;
}

.center_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.seryi_krug {
    background: #ececec;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 15px;
    color: #4c4b6c;
}

.m-l-10 {
    margin-left: 10px;
}

.center_menu .right>p:first-child {
    font-weight: bold;
    color: #4c4b4c;
}

.center_menu .right>p {
    color: #ababab;
}

.nijnee_menu {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    position: relative;
}

.list_items,
.nijnee_menu-images {
    display: flex;
    justify-content: space-evenly;
}

.nijnee_menu-images p {
    text-align: center;
}

.nijnee_menu-bold {
    font-weight: bold;
    color: #4c4b6c;
    font-family: poppins;
}

.nijnee_menu-bold:hover {
    padding: 15px;
    background-color: #7cd0f5;
    color: white;
    border-radius: 10px;
    height: 50px;
}

.nijnee_menu .ul_li {
    display: flex;
    align-items: center;
    height: 50px;
}

.common {
    display: flex;
}

.search-box {
    /* background-color: orange; */
    background-color: white;
    padding: 7px 25px;
    margin-top: 9px;
    border-radius: 15px;
}

.search-txt {
    border: none;
    outline: none;
    color: #4c4b6c;
}

.left_side {
    padding-left: 15px;
    margin-top: 5px;
}

span.common_circle {
    background: rgb(255 184 0);
}

.block_ttle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eBeBeB;
}

#product {
    padding: 0 15px;
}

.list_product>.product {
    float: left;
}

.body_block {
    /* display: inline-block; */
    margin-top: 20px;
}

.block_stars {
    display: inline-block;
}

.block_stars>div {
    float: left;
}

.product {
    display: inline-block;
    min-height: 310px;
}

.product img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}

.body_product {
    margin-top: 10px;
}

.stars {
    margin-right: 5px;
}

.stars>i {
    color: rgb(248, 209, 92);
    font-size: 10px;
    margin-left: -4px;
}

.stars>i:first-child {
    margin-left: 0;
}

.reviews {
    font-size: 13px;
    line-height: 1.7;
}

.price {
    display: inline-block;
    width: 100%;
    margin-top: -5px;
}

.price span {
    font-size: 20px;
    font-weight: bold;
    color: #4c4b5c;
}

.price del {
    font-size: 15px;
    margin-left: 12px;
    color: #9e9e9e;
    line-height: 2;
}

.btns li {
    padding: 0;
}

.btns .ul_li {
    display: flex;
    justify-content: space-between;
}

.btns.seryi_krug {
    transition: .5s;
}

.img {
    position: relative;
}

.desc_img {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffb5;
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #e60000b5;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* transition: 0.2s; */
}

.desc {
    width: 80%;
    text-align: center;
}

.ttl {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btns li:hover .seryi_krug {
    background-color: #7cd0f5;
    color: white;
    cursor: pointer;
}

.product:hover .dnone {
    display: block;
}

.product:hover .block_stars {
    display: none;
}

.product:hover .desc_img {
    opacity: 1;
}

.list_product {
    display: flex;
    justify-content: space-between;
}

.tool-tip {
    position: absolute;
    right: -7px;
    top: 7;
    color: white;
    padding: 3px 6px;
    font-size: 13px;
    border-radius: 4px;
    z-index: 1;
}

#banner img {
    width: 100%;
}

.f_text {
    color: #999;
}

.btn_call {
    text-align: start;
    margin-top: 20px;
    margin-left: 5px;
}

.btn_call a {
    background: #7cd0f5;
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.btn_call a:hover {
    background: #29a3d8;
    box-shadow: #29a3d8;
}

.f_li_hover li:hover {
    margin-left: 15px;
    font-weight: bold;
    color: #999;
}

.f_li_hover li {
    transition: 0.5s;
    color: #999;
    line-height: 35px;
}

.f_ttl {
    position: relative;
}

.f_ttl::before {
    content: "";
    width: 50px;
    height: 30px;
    background-repeat: #721818;
    position: absolute;
    bottom: -7px;
}

footer .ul_li li {
    padding: 1px;
}

.f_second {
    margin-top: 50px;
}

.f_low {
    border-bottom: 1px solid #eBeBeB;
}

.f_low a {
    padding: 8px;
}

.right>.f_low a {
    padding: 8px;
    color: #999;
    transition: 0.5s;
}

.right>.f_low a:hover {
    color: #999;
    font-weight: bold;
}

@media (max-width:1024px) {
    .container {
        width: auto;
    }
    .list_product {
        flex-wrap: wrap;
        justify-content: left;
    }
    .ptoduct {
        margin-right: 34px;
    }
    .list_product>.product:nth-child(4n) {
        margin-right: 0;
    }
    .verhnee_menu,
    .center_menu p {
        font-size: 12px;
    }
    .f_ttl {
        font-size: 12px;
    }
}

@media (max-width:812px) {
    .verhnee_menu .left,
    .center_menu .left {
        display: none;
    }
    .right .m-l-10 {
        margin-left: 0;
    }
    .product {
        margin-right: 30px;
    }
    .list_product>.product:nth-child(3n) {
        margin-right: 0;
    }
    .list_product>.product:nth-child(4n) {
        margin-right: 30px;
    }
}

@media (max-width:736px) {
    .center_menu .ul_li>li:nth-child(3),
    .center_menu .ul_li>li:nth-child(4),
    .nijnee_menu .left {
        display: none;
    }
    .nijnee_menu .container>div,
    .right img,
    .product img {
        width: 90%;
    }
}

@media (max-width:480px) {
    .verhnee_menu .center_menu p {
        font-size: 10px;
    }
    .verhnee_menu .right {
        float: none;
    }
    .verhnee_menu a {
        font-size: 12px;
    }
    .center_menu img {
        width: 80px;
    }
    .center_menu .ul_li>li:nth-child(3),
    .center_menu .ul_li>li:nth-child(4),
    .nijnee_menu .left {
        display: none;
    }
    .center_menu li {
        padding-top: 0;
    }
    .nijnee_menu,
    .ttl {
        font-size: 12px;
    }
    .nijnee_menu .container>div,
    .right img,
    .product img {
        width: 100%;
    }
    .product {
        margin-right: 0;
        width: 45%;
    }
    .list_product {
        justify-content: space-between;
    }
    .list_product>.product:nth-child(4n) {
        margin-right: 0;
    }
    .common {
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 10px;
    }
    .btn_call a {
        padding: 10px 40px;
    }
    p.btn_call {
        padding: 12px 0px;
    }
    .f_ttl {
        font-size: 15px;
        padding-top: 15px;
    }
}


/* конец стилей для страницы */